@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';
@plugin "tailwindcss-animate";

:root {
	/* primary colors */
	--primary: hsla(50, 100%, 49%, 1);
	--primary-75: hsla(50, 100%, 49%, 0.75);
	--primary-50: hsla(50, 100%, 49%, 0.5);
	--primary-25: hsla(50, 100%, 49%, 0.25);
	--primary-10: hsla(50, 100%, 49%, 0.1);
	--primary-5: hsla(50, 100%, 49%, 0.05);

	/* text colors */
	--text-primary: hsla(224, 42%, 24%, 1);
	--text-muted-10: hsla(0, 11%, 22%, 0.1);
	--text-muted-25: hsla(0, 11%, 22%, 0.25);
	--text-muted-5: hsla(0, 11%, 22%, 0.05);
	--text-muted-50: hsla(0, 11%, 22%, 0.5);
	--text-secondary: hsla(0, 0%, 40%, 1);

	/* white colors */
	--white: hsla(0, 0%, 100%, 1);
	--white-10: hsla(0, 0%, 100%, 0.1);
	--white-25: hsla(0, 0%, 100%, 0.25);
	--white-5: hsla(0, 0%, 100%, 0.05);
	--white-50: hsla(0, 0%, 100%, 0.5);
	--white-75: hsla(0, 0%, 100%, 0.75);
	--white-4: hsla(0, 0%, 100%, 0.04);

	/* background colors */
	--background: hsla(0, 0%, 5%, 1);

	/* alternative colors */
	--golden: hsla(45, 100%, 50%, 1);

	/* placeholder colors */
	--placeholder: hsla(0, 0%, 58%, 1);
}

@theme inline {
	/* primary colors */
	--color-primary: var(--primary);
	--color-primary-75: var(--primary-75);
	--color-primary-50: var(--primary-50);
	--color-primary-25: var(--primary-25);
	--color-primary-10: var(--primary-10);
	--color-primary-5: var(--primary-5);

	/* text colors */
	--text-color-primary: var(--text-primary);
	--text-color-muted-10: var(--text-muted-10);
	--text-color-muted-25: var(--text-muted-25);
	--text-color-muted-5: var(--text-muted-5);
	--text-color-muted-50: var(--text-muted-50);
	--text-color-secondary: var(--text-secondary);

	/* white colors */
	--color-white: var(--white);
	--color-white-10: var(--white-10);
	--color-white-25: var(--white-25);
	--color-white-5: var(--white-5);
	--color-white-50: var(--white-50);
	--color-white-75: var(--white-75);
	--color-white-4: var(--white-4);

	/* background colors */
	--color-background: var(--background);

	/* alternative colors */
	--color-golden: var(--golden);

	/* placeholder colors */
	--text-placeholder: var(--placeholder);
}

html,
body {
	@apply bg-background text-white;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}

	* {
		font-family: 'DM Sans', serif;
		@apply transition-all duration-300;
	}
}

.active-navlink {
	@apply text-(--color-primary) relative transition-all duration-300;

	.active-line {
		@apply bg-primary rounded-full absolute mt-1 w-6 h-0.5 left-[50%] translate-x-[-50%] transition-colors duration-300;
	}
}
